
<!DOCTYPE html>
<html>
<head>
    <!-- ==============================================
      Title and Meta Tags
      =============================================== -->
    <meta charset="utf-8">
    <title>Jessica Ansong</title>
    

    

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ==============================================
        Favicons
        =============================================== -->
    <link rel="shortcut icon" href="/Portfolio Template/HTML/TemplateHTMLAssets/favicon.ico">
    <link rel="apple-touch-icon" href="/Portfolio Template/HTML/TemplateHTMLAssets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Portfolio Template/HTML/TemplateHTMLAssets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Portfolio Template/HTML/TemplateHTMLAssets/apple-touch-icon-114x114.png">

    <!-- ==============================================
        CSS
        =============================================== -->
    <!--===========ADDED CSS FILES===================-->
    @Styles.Render("/Content/css")
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="/PortfolioTemplate/HTML/TemplateHTMLCSS/flexslider.css" rel="stylesheet" />
    @*<link href="/PortfolioTemplate/HTML/TemplateHTMLCSS/font-awesome.min.css" rel="stylesheet" />*@
    <link href="/PortfolioTemplate/HTML/TemplateHTMLCSS/designr-theme-cyan2.css" rel="stylesheet" />


    <!-- ==============================================
        Fonts
        =============================================== -->

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link href="/PortfolioTemplate/HTML/TemplateHTMLCSS/font-awesome.css" rel="stylesheet" />
    <link rel="/PortfolioTemplate/HTML/TemplateFonts/fontawesome-webfont.woff"/>
    <link rel="/PortfolioTemplate/HTML/TemplateFonts/fontawesome-webfont.woff2" />
    <link rel="/PortfolioTemplate/HTML/TemplateFonts/fontawesome-webfont.ttf" />


    <!-- ==============================================
    JS
    =============================================== -->
    <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    @*<script type="text/javascript" src="js/libs/modernizr.min.js"></script>*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script src="/PortfolioTemplate/HTML/TemplateHTMLJS/libs/modernizr.min.js"></script>
    

    

</head>

    <body >


    <!-- ==============================================
    MAIN NAV
    =============================================== -->
    @*<div id="main-nav" class="navbar navbar-fixed-top">*@
    <div id="main-nav" class="navbar navbar-fixed-top scrolled">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>

                <!-- ======= LOGO ========-->
                @*<a class="navbar-brand scrollto" href="@Url.Action("Index","Home"')">Jessica Ansong<br><span>.NET Developer</span></a>*@
                <a  class="navbar-brand" href="@Url.Action("Index","Home")">
                    Jessica Ansong
                    <br />
                    <span>.NET Developer</span>
                </a>
                <!-- <a class="navbar-brand scrollto ir-logo" href="#">JOHN DOE<br><span>UI Designer</span></a> -->

            </div>

            <div id="site-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="sr-only">
                        <a href="#home" class="scrollto">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "About")">About</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Experience")">Experience</a>
                    </li>  
                    <li>
                        <a href="@Url.Action("Index", "Works")">My Works</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Contact")">Contact</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Blog")">Blog</a>
                    </li>
                </ul>
            </div><!--End navbar-collapse -->

        </div><!--End container -->

    </div><!--End main-nav -->

        <div class=" container body-content">



            @RenderBody()





        </div>






    <!-- ==============================================
    FOOTER
    =============================================== -->
    
  
    <footer id="main-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-6 left-col">
                    <h1 class="small-logo">Jessica Ansong<br><span>.NET Developer</span></h1>
                    <ul class="footer-nav">
                        @*<li><a class="scrollto" href="#home">Home</a></li>*@
                        <li>
                            <a href="@Url.Action("Index", "About")">About</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Experience")">Experience</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Works")">My Works</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Contact")">Contact</a>
                        </li>
                        <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
                    </ul>
                    <p>Copyright &copy; 2015 Jessica Ansong. All Rights Reserved.</p>
                </div>

                <div class="col-sm-6 right-col">
                    <h2>Who Am I?</h2>
                    <p>I'm a .NET developer with expertise in C#, JavaScript, JQuery, HTML5, MVC5, and Bootstrap. I am currently enrolled in the Master Class at the Coder Foundry's .NET bootcamp.</p>
                </div>

            </div><!-- End row -->

        </div><!-- End container -->

    </footer><!-- End footer -->
    <!-- ==============================================
    SCRIPTS
    =============================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/PortfolioTemplate/HTML/TemplateHTMLJS/libs/jquery-1.9.1.min.js">\x3C/script>')</script>


    <!--=====================ADDED SCRIPTS==================================-->
    @*<script src="/PortfolioTemplate/HTML/TemplateHTMLJS/jquery.scrollto.js"></script>*@
    <script src="/PortfolioTemplate/HTML/TemplateHTMLJS/jquery.flexslider.js"></script>

    <!--====================JUST ADDED 9/13/15=my works section links==============================-->
    @*<script src="~/PortfolioTemplate/Documentation/Template Doc JS/bootstrap.js"></script>*@
    <script src="/PortfolioTemplate/HTML/TemplateHTMLJS/libs/bootstrap.js"></script>
    @*<script src="~/PortfolioTemplate/Documentation/Template Doc JS/bootstrap.min.js"></script>*@
    <!--===============================================================-->


    <script src="/PortfolioTemplate/HTML/TemplateHTMLJS/twitterFetcher_v10_min.js"></script>
    <script src="/PortfolioTemplate/HTML/TemplateHTMLJS/jquery.masonry.min.js"></script>
    @*<script src="/PortfolioTemplate/HTML/TemplateHTMLJS/waypoints.min.js"></script>*@
    <script src="/PortfolioTemplate/HTML/TemplateHTMLJS/jquery.easypiechart.min.js"></script>
    <script src="/PortfolioTemplate/HTML/TemplateHTMLJS/jquery.backstretch.js"></script>
    <script src="/PortfolioTemplate/HTML/TemplateHTMLJS/contact.js"></script>
    @*<script src="/PortfolioTemplate/HTML/TemplateHTMLJS/designr.js"></script>*@

        <!--============DATA TABLES =======================================-->
        <script src="/Scripts/DataTables/dataTables.scroller.min.js"></script>
        <script src="/Scripts/DataTables/jquery.dataTables.min.js"></script>
        <script src="/Scripts/DataTables/dataTables.responsive.js"></script>
        


        <!--===========SYNTAX HIGHLIGHTER==================================-->
        <link href="/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
        <link href="/Content/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet" />
     
        <!--============================================================-->


     

    <!---======Other Added JS================-->
    @*<script src="~/PortfolioTemplate/HTML/Template HTML JS/libs/jquery-1.9.1.min.js"></script>
    <script src="~/PortfolioTemplate/HTML/Template HTML JS/imagesloaded.js"></script>
    <script src="~/PortfolioTemplate/HTML/Template HTML JS/jquery.backstretch.js"></script>
    <script src="~/PortfolioTemplate/HTML/Template HTML JS/jquery.backstretch.min.js"></script>
    <script src="~/PortfolioTemplate/HTML/Template HTML JS/jquery.easypiechart.js"></script>
    <script src="~/PortfolioTemplate/HTML/Template HTML JS/jquery.easypiechart.min.js"></script>*@


    @*<script src="~/PortfolioTemplate/HTML/Template HTML JS/jquery.masonry.js"></script>
    <script src="~/PortfolioTemplate/HTML/Template HTML JS/jquery.masonry.min.js"></script>
    <script src="~/PortfolioTemplate/HTML/Template HTML JS/jquery.scrollto.js"></script>
    <script src="~/PortfolioTemplate/HTML/Template HTML JS/respond.min.js"></script>
    <script src="~/PortfolioTemplate/HTML/Template HTML JS/twitterFetcher_v10_min.js"></script>
    <script src="~/PortfolioTemplate/Documentation/Template Doc JS/bootstrap.min.js"></script>
    <script src="~/PortfolioTemplate/Documentation/Template Doc JS/respond.min.js"></script>*@




    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @*<script src="~/JQueryDotDotDot/jquery.dotdotdot.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("In document ready");
            $(".abc").dotdotdot({
                ellipsis: '...',
                wrap: 'word',
                watch: true,
                height: 50,
                maxHeight: 50
            });
        });
    </script>*@



    @RenderSection("scripts", required: false)

    </body>
</html>